<input type="hidden" id="data-line-vente" value="{{line}}">
<div class="row">
	
	<div class="col-md-4">
		<div class="widget yellow-bg p-xl">
            <h2>
                VENTE
            </h2>
	        <ul class="list-unstyled m-t-md">
	            <li>
	                Vente journalier : {{journalier}}
	                
	            </li>
	            <li>
	                Vente mensuelle : {{mensuelle}}
	            </li>
	            <li>
	                Vente annuelle : {{annuelle}}
	            </li>
	        </ul>
	    </div>
	</div>
	<div class="col-md-8">
		<div class="ibox-content text-center">
            <div class="dash-block-facture" id="vente-line-chart"></div>
        </div>
	</div>
</div>

