<div class="row">
    <div class="col-md-12">
        <div class="widget blue-bg p-xl">
            <h2>
                BON
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    Nombre bon de commande : {{nb}}
                </li>
                <li>
                    Montant bon de commande : {{total}}
                </li>

                {{ render(controller('BonLivraisonBundle:Dashboard:index')) }}
            </ul>
        </div>
    </div>

</div>

