<div class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label" for="id_nom">Nom</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Nom" class="form-control" id="id_nom" value="{{ type ? type.nom : '' }}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label" for="">Description</label>
        <div class="col-lg-10">
        	<textarea class="summernote" id="id_description">
        		{{ type ? type.description | raw : '' }}
        	</textarea>
        </div>
    </div>

    <input type="hidden" value="{{type.id}}" id="id_type_edit">

    <div class="form-group text-right">
        <span class="btn btn-white btn-sm js_close_modal">Annuler</span>
        <span class="btn btn-primary btn-sm" id="id_save_type">Enregistrer</span>
    </div>
</div>