<table style="width: 100%;">
	<tr>
	    <td style="width:100%" class="text-center">
	            <img src="{{ modelePdf.logoCentre | to_src }}" alt="Logo Html2Pdf" style="height: 100px" class="text-center">
	    </td>
	</tr>
	<tr>
	    <td style="width:100%;" class="">
	    	{{ modelePdf.texteHaut | raw }}
	    </td>
	</tr>
</table>