<div class="row">
	<div class="col-md-3">
        <div class="widget p-xl navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-database fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Total produit en stock </span>
                    <h2 class="font-bold">{{totalProduits}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget p-xl blue-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-home fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Total entrepôt </span>
                    <h2 class="font-bold">{{totalEntrepots}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget p-xl yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-square fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Total produit par entrepôt </span>
                    <h2 class="font-bold">{{totalProduitEntrepot}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget p-xl lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-money fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Valeur  total de l’inventaire </span>
                    <h2 class="font-bold">{{inventaires}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>


