<div class="form-group">
		<div class="col-sm-6">
		<input type="number" class="form-control f_ps_periode" name="f_ps_periode[]" >
		</div>
		<div class="col-sm-6">
		<select class="form-control f_ps_duree" name="f_ps_duree[]">
  			<option value="0">qté</option>
  			<option value="1">heure</option>
         	<option value="2">jour</option>
         	<option value="3">mois</option>
         	<option value="4">année</option>
        </select>
		</div>
</div>
<input type="hidden" name="f_ps_qte[]" class="f_ps_qte">
